

.about-title{
  position: absolute;
  top: 40%;
  padding-top: 0.5em;
  left: 40%;
  width: 7em;
  height: 3em;
  background: rgba(213, 224, 223,0.5);
  color: green;
  font-size: 48px;
  text-align: center;
  border-radius: 23px 23px 23px 23px;
}

#bottom-half{
  background-image: url("about-second-pic.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

#top-image{
  display: none;
}

#video{
  display: flex;
  object-fit:cover;
  width: 100%;
  height: 80vh;

}
.heading{
  position: relative;
  margin-bottom: 2%;

}

.img-cont{
  border: 3px solid green;
  border-radius: 50%;
  margin: 50px;

}

.heading::after{
  position: absolute;
  content: "";
  background-color: black;
  margin-left: 10%;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: width 1.5s ease-in-out;


}



.about-row{
  padding-top: 50px;
  padding-bottom: 50px;
}
.row:hover .heading::after{
  visibility: visible;
  margin-left: 10%;
  width: 80%;
}




.desc{
  opacity: 0%;
  transition: opacity 2s ease-out;
  margin-left: 10%;
  margin-right: 10%;
}

.row:hover .desc{
  opacity: 100%;
}

@media (max-width:696px){
  .img-cont{
    margin: 0;
    margin-top: 50px;
  }

  .desc{
    opacity: 100%;
  }

  .about-title{
    left: 7%;
    position: relative;
  }

  #bottom-half{
    background-attachment: scroll;
    background-position: center;
  }


  #video{
    display: none;
  }

  #top-video{
    background-image: url("truck.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
  }
}
